<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Header.css">
</head>
<body style="padding-bottom: 1000px; margin:0">
    <img src="../ICONS/Vector 1.png " alt="" class="img">
    <div class="Header_div">
        <div class="logo_top_left">
          <img class="erox_logo" src="../ICONS/EROX Black with name on foot.png" alt="">
        </div>
        <div class="navigation_div">
          <nav>
            <ul class="unordered_nav_list">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Conctact</a></li>
            </ul>
          </nav>
        </div>
      </div>         
</body>
</html>